body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

h1 {
    color: #45b29a;
    font-size: 6rem !important;
}

h2 {
    color: #45b29a;
    font-size: 2rem;
    margin-top: 3%;
    margin-bottom: 3%;
}

h3{
    color: #45b29a;
}

.top-container {
    background-color: #EAF6F6;
    text-align: center;
    padding-top: 8%;
    margin-bottom: 0;
}

.name {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 4rem;
    font-family: 'Sacramento', cursive;
}


.mountain{
    position: relative;
    margin-bottom: 0;
}

.top-cloud{
    position: absolute;
    right: 15%;
    top: 5%;
}

.bottom-cloud{
    position: absolute;
    top:45%;
    left: 20%
}

.middle-container{
    padding-top: 5%;
}

.profile-pic{
    height: 15%;
    width: 15%;
}

p {
    font-size: 1.2rem;
    font-weight: 800;
    width: 30%;
    margin: 0 auto;
    display: inline-block;
}

.profile{
    margin-bottom: 5%;
}

hr{
    border-top: dotted 7px;
    border-style: dotted none none;
    color: #EAF6F6;
    width: 5%;
}

.skill-row-1{
    position: relative;
    right: 2%;
    margin-bottom: 5%;
    text-align: center;
}

.python{
    position: absolute;
    left:25%;
}

.skill-row-2{
    position: relative;
    right: 5%;
    margin-bottom: 5%;
}

.computer {
    height: 140px;
    width: 140px;
    position: absolute;
    right: 25%;
   
}

.skill-row-3{
    position: relative;
    left: 5%;
    margin-bottom: 5%;
}

.html {
    height: 120px;
    width: 300px;
    position: absolute;
    left: 18%;
   
}

.button{
    background-color: #45b29a;
    width: 10%;
    padding: 10px;
    margin: 5% auto;
    border-radius: 10px;
}
.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

.btn{
    color:white;
}

.bottom-container{
    background-color: #66BFBF;
    width: 100%;
    padding-top: 50px;
    
}

.footer-link{
    
    margin: 0 auto;
    padding: 40px;

}

.copyright{

margin: 40px 0 80px;
color: white;
}

a{
    font-size: 1.3rem;
    font-weight: 800;
    color: #11999E;
}

a:link { text-decoration: none; }